<!DOCTYPE html>
<html lang="en">
<title>home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="index" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="module-1" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Modulo1</a>
    <a href="module-2-Java" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Modulo 2.Java</a>
    <a href="module-2-Python" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Modulo 2.Python</a>
    <a href="module-3" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Modulo 3</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="module-1" class="w3-bar-item w3-button w3-padding-large">Modulo1</a>
    <a href="module-2-Java" class="w3-bar-item w3-button w3-padding-large">Modulo 2.Java</a>
    <a href="module-2-Python" class="w3-bar-item w3-button w3-padding-large">Modulo 2.Python</a>
    <a href="module-3" class="w3-bar-item w3-button w3-padding-large">Modulo 3</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-dark-gray w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">LVaED</h1>
  
  
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    
      
      <h1>¿Que es LVaED?</h1><br><br>
        <p>
            Es una herramienta web de aprendizaje virtual para la UPB con el propósito de promover el aprendizaje de las estructuras de datos vistas a lo largo del curso por medio de tres módulos que las explicarán, expondrán, y permitirán la experimentación con estas. 
        </p><br>
        <h2>¿Que espero encontrar en el modulo 1? </h2><br>
        <p>
            Aquí encontrarás una explicación de cada estructura, junto con sus ventajas, desventajas, y ejemplos de estas.
        </p><br>
        <h2>¿Que espero encontrar en el modulo 2? </h2><br>
        <p>
            Aquí encontrarás implementaciones de las estructuras de datos en los lenguajes Java,Python y C++ junto a sus métodos. Asi como las ventajas y desventajas de cada paradigma
        </p><br>
        <h2>¿Que espero encontrar en el modulo 3?</h2><br>
        <p>
            Aquí encontrarás una herramienta que te permitira adjuntar codigo fuente de una estructura de datos tuya que será representado en un modelo gráfico.
        </p>
    


  </div>
</div>



<div class="w3-container w3-black w3-center w3-opacity w3-padding-32">
    <h1 class="w3-margin w3-xlarge">El fracaso es el condimento que da al éxito su sabor</h1>
    <h1 class="w3-margin w3-large">-Confuncio</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
 <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>