<html>

<head>
    <link rel="stylesheet" href="static/prism.css">
    <title>Home</title>
    <style type="text/css">
        * {
            margin: 0px;
            padding: 0px;
        }

        #header {
            margin: auto;
            width: 500px;
            font-family: Arial, Helvetica, sans-serif;
        }

        #LVaED {
            
            font-family: sans-serif;
            font-size: 25px;
            background-color: black;
            padding-top: 10px;
            padding-bottom: 20px;
        }

        #docBlock {
            margin-top: 100px;
            margin-left: 250px;
            margin-right: 250px;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #fff;
            border: 2px solid #000000;
            border-radius: 25px;
            padding-left: 10px;
        }

        ul,
        ol {
            list-style: none;
        }

        .nav {
            width: 500px;

            margin: 0 auto;

            margin-right: 150px;
            margin-left: 75px;
        }

        .nav>li {
            float: left;
        }

        .nav li a {
            background-color: #000;
            color: #fff;
            text-decoration: none;
            padding: 10px 12px;
            display: block;
        }

        .nav li a:hover {
            background-color: #434343;
        }

        .nav li ul {
            display: none;
            position: absolute;
            min-width: 140px;
        }

        .nav li:hover>ul {
            display: block;
        }

        .nav li ul li {
            position: relative;
        }

        .nav li ul li ul {
            right: -140px;
            top: 0px;
        }

        body {
            background-image: url("static/oriental-tiles.png");
     
     }
    </style>
    <div id="LVaED">
        <h1 style="text-align:center;color: white;" color: white;>LVaED </h1>
        </div>
</head>

<body>

    <div id="header">
        <nav>

            <ul class="nav">
                <li><a href="index">Inicio</a></li>
                <li><a href="module-1">Modulo 1</a></li>

                
            </li>
            <li><a href="">Modulo 2</a>
                <ul>
                    <li><a href="module-2-Java">Java</a></li>
                    <li><a href="module-2-Python">Pyhon</a></li>
                    <li><a href="module-2-Cpp">C++</a></li>
                </ul>
            </li>
            <li><a href="module-3">Modulo 3</a></li>
            
            </ul>

        </nav>

    </div>
    <div id="docBlock">
        <br>

        <h1>Paradigma </h1><br><br>

        <h1>Ventajas y desventajas </h1><br><br>

        <h1 id="estructuras"> Estructuras : </h1><br>
        <h2><a href="#listaenlazada">Lista enlazada</a></h2>
        <h2><a href="#listadoble">Lista doblemente enlazada</a></h2>
        <h2><a href="#listacircular">Lista circular enlazada</a></h2>
        <h2><a href="#listacirculardoble">Lista circular doblemente enlazada</a></h2>
        <h2><a href="#piladinamica">Pila dinamica</a></h2>
        <h2><a href="#pilaarray">Pila basada en arreglos</a></h2>
        <h2><a href="#coladinamica">Cola dinamica</a></h2>
        <h2><a href="#colaarray">Cola basada en arreglos</a></h2>
        <h2><a href="#arbolbinario">Arbol Binario</a></h2>
        <h2><a href="#arbolninario">Arbol n-nario</a></h2>
        <h2><a href="#tablahash">Tablas de Hash</a></h2>
        <h2><a href="#grafo">Grafos</a></h2>
        <br>

        <h1>Lista enlazada</h1><br><br>
        <p>
        <h2>Estructura </h2><br>
        <p id="listaenlazada">
            // Ingresar aqui una breve descripcion de la clase. 
            EJ:Esta estructura se compone de una clase nodo y una clase lista.
        </p>
        <pre>
                        <code class="language-cpp">
                            
                        </code>
                    </pre>
        <h2>Metodos </h2><br>
        <pre>
                        <code class="language-cpp">
                            
                        </code>
                    </pre>
        </p>
        <h2><a href="#estructuras">Inicio</a></h2><br>

        <h1>Lista doblemente enlazada</h1><br><br>
        <p>
        <h2>Estructura </h2><br>
        <p id="listadoble">
            // Ingresar aqui una breve descripcion de la clase. 
            EJ:Esta estructura se compone de una clase nodo y una clase lista.
        </p>
        <pre>
                        <code class="language-cpp">
                            
                        </code>
                    </pre>
        <h2>Metodos </h2><br>
        <pre>
                        <code class="language-cpp">
                            
                        </code>
                    </pre>
        </p>
        <h2><a href="#estructuras">Inicio</a></h2><br>

        <h1>Lista enlazada circular</h1><br><br>
        <p>
        <h2>Estructura </h2><br>
        <p id="listacircular">
            // Ingresar aqui una breve descripcion de la clase. 
            EJ:Esta estructura se compone de una clase nodo y una clase lista.
        </p>
        <pre>
                        <code class="language-cpp">
                            
                        </code>
                    </pre>
        <h2>Metodos </h2><br>
        <pre>
                        <code class="language-cpp">
                            
                        </code>
                    </pre>
        </p>
        <h2><a href="#estructuras">Inicio</a></h2><br>

        <h1>Lista doblemente enlazada circular</h1><br><br>
        <p>
        <h2>Estructura </h2><br>
        <p id="listacirculardoble">
            // Ingresar aqui una breve descripcion de la clase. 
            EJ:Esta estructura se compone de una clase nodo y una clase lista.
        </p>
        <pre>
                        <code class="language-cpp">
                            
                        </code>
                    </pre>
        <h2>Metodos </h2><br>
        <pre>
                        <code class="language-cpp">
                            
                        </code>
                    </pre>
        </p>
        <h2><a href="#estructuras">Inicio</a></h2><br>

        <h1>Pila dinamica</h1><br><br>
        <p>
        <h2>Estructura </h2><br>
        <p id="piladinamica">
            // Ingresar aqui una breve descripcion de la clase. 
            EJ:Esta estructura se compone de una clase nodo y una clase lista.
        </p>
        <pre>
                        <code class="language-cpp">
                            
                        </code>
                    </pre>
        <h2>Metodos </h2><br>
        <pre>
                        <code class="language-cpp">
                            
                        </code>
                    </pre>
        </p>
        <h2><a href="#estructuras">Inicio</a></h2><br>

        <h1>Pila basada en arreglos</h1><br><br>
        <p>
        <h2>Estructura </h2><br>
        <p id="pilaarray">
            // Ingresar aqui una breve descripcion de la clase. 
            EJ:Esta estructura se compone de una clase nodo y una clase lista.
        </p>
        <pre>
                        <code class="language-cpp">
                            
                        </code>
                    </pre>
        <h2>Metodos </h2><br>
        <pre>
                        <code class="language-cpp">
                            
                        </code>
                    </pre>
        </p>
        <h2><a href="#estructuras">Inicio</a></h2><br>

        <h1>Cola dinamica</h1><br><br>
        <p>
        <h2>Estructura </h2><br>
        <p id="coladinamica">
            // Ingresar aqui una breve descripcion de la clase. 
            EJ:Esta estructura se compone de una clase nodo y una clase lista.
        </p>
        <pre>
                        <code class="language-cpp">
                            
                        </code>
                    </pre>
        <h2>Metodos </h2><br>
        <pre>
                        <code class="language-cpp">
                            
                        </code>
                    </pre>
        </p>
        <h2><a href="#estructuras">Inicio</a></h2><br>

        <h1>Cola basada en arreglos</h1><br><br>
        <p>
        <h2>Estructura </h2><br>
        <p id="colaarray">
            // Ingresar aqui una breve descripcion de la clase. 
            EJ:Esta estructura se compone de una clase nodo y una clase lista.
        </p>
        <pre>
                        <code class="language-cpp">
                            
                        </code>
                    </pre>
        <h2>Metodos </h2><br>
        <pre>
                        <code class="language-cpp">
                            
                        </code>
                    </pre>
        </p>
        <h2><a href="#estructuras">Inicio</a></h2><br>

        <h1>Arbol binario</h1><br><br>
        <p>
        <h2>Estructura </h2><br>
        <p id="arbolbinario">
            // Ingresar aqui una breve descripcion de la clase. 
            EJ:Esta estructura se compone de una clase nodo y una clase lista.
        </p>
        <pre>
                        <code class="language-cpp">
                            
                        </code>
                    </pre>
        <h2>Metodos </h2><br>
        <pre>
                        <code class="language-cpp">
                            
                        </code>
                    </pre>
        </p>
        <h2><a href="#estructuras">Inicio</a></h2><br>

        <h1>Arbol n-nario</h1><br><br>
        <p>
        <h2>Estructura </h2><br>
        <p id="arbolninario">
            // Ingresar aqui una breve descripcion de la clase. 
            EJ:Esta estructura se compone de una clase nodo y una clase lista.
        </p>
        <pre>
                        <code class="language-cpp">
                            
                        </code>
                    </pre>
        <h2>Metodos </h2><br>
        <pre>
                        <code class="language-cpp">
                            
                        </code>
                    </pre>
        </p>
        <h2><a href="#estructuras">Inicio</a></h2><br>

        <h1>Tablas de hash</h1><br><br>
        <p>
        <h2>Estructura </h2><br>
        <p id="tablahash">
            // Ingresar aqui una breve descripcion de la clase. 
            EJ:Esta estructura se compone de una clase nodo y una clase lista.
        </p>
        <pre>
                        <code class="language-cpp">
                            
                        </code>
                    </pre>
        <h2>Metodos </h2><br>
        <pre>
                        <code class="language-cpp">
                            
                        </code>
                    </pre>
        </p>
        <h2><a href="#estructuras">Inicio</a></h2><br>

        <h1>Grafo</h1><br><br>
        <p>
        <h2>Estructura </h2><br>
        <p id="grafo">
            // Ingresar aqui una breve descripcion de la clase. 
            EJ:Esta estructura se compone de una clase nodo y una clase lista.
        </p>
        <pre>
                        <code class="language-cpp">
                            
                        </code>
                    </pre>
        <h2>Metodos </h2><br>
        <pre>
                        <code class="language-cpp">
                            
                        </code>
                    </pre>
        </p>
        <h2><a href="#estructuras">Inicio</a></h2><br>
    </div>
    <script src="static/prism.js"></script> 
</body>

</html>