<!DOCTYPE html>
<html lang="en">
<title>modulo1</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-red w3-card w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="index" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
      <a href="module-1" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Modulo1</a>
      <a href="module-2-Java" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Modulo 2.Java</a>
      <a href="module-2-Python" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Modulo 2.Python</a>
      <a href="module-3" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Modulo 3</a>
    </div>
  
    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
      <a href="module-1" class="w3-bar-item w3-button w3-padding-large">Modulo1</a>
      <a href="module2-Java" class="w3-bar-item w3-button w3-padding-large">Modulo 2.Java</a>
      <a href="module2-Python" class="w3-bar-item w3-button w3-padding-large">Modulo 2.Python</a>
      <a href="module-3" class="w3-bar-item w3-button w3-padding-large">Modulo 3</a>
    </div>
  </div>

<!-- Header -->
<header class="w3-container w3-dark-gray w3-center" style="padding:64px 16px">
  <h1 class="w3-margin w3-jumbo">Modulo de presentación</h1>

  
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      
        <h1>Listas enlazadas </h1><br><br>
        
        <h2>Concepto </h2><br>
        <p>Las listas son un tipo de estructura lineal y dinámica de datos. 
            Estas estan compuestas por nodos los cuales tiene 2 partes, un indicador el cual guarda la direccion 
            de memoria del nodo que va proximo a este y el elemento que pertenece a la lista. <br>
            Las listas pueden ser 
            <li>
                Simplemente enlazadas, cuando solo se pueden recorrer en un solo sentido, es decir sus nodos incluyen una referencia al 
                nodo que les sigue, pero no al anterior
            </li>
            <li>
                Doblemente enlazada, cuando sus nodos contienen referencias al nodo anterior y al proximo
                haciendo que se pueda recorrer hacia cualquier sentido.
            </li>
            <li>  
                Circulares cuando el ultimo objeto, llamado cola, tiene una referencia al primer nodo, llamado cabeza, como si fuera su siguiente
            </li>
        

        </p><br>
        <h2>Operaciones permitidas</h2><br>
        <li>Añadir, sea en la cabeza o en la cola</li>
        <li>Eliminar por nodo o por objeto </li>
        <li>Ordenar</li>
        <li>Buscar</li>
        <li>Limpiar la lista</li>
        <li>Crear una sublista</li>
        <li></li>

        <h2>Ventajas y desventajas</h2><br>
        <li>Insercion y extraccion de nodos sencilla</li>
        <li>Concatenacion y particion sencilla</li>
        <li>El uso de memoria se adapta a la cantidad de datos almacenados</li>
        <li>Dificultad para acceder a posiciones intermedias</li>
        <br><br>

        <h1>Pilas </h1><br><br>
        <h2>Concepto </h2><br>
        <p>Las pilas son una estructura de datos no fundamental, la cual requiere de, ya sea una lista enlazada o un arreglo
            para poder realizarse o presentarse. Esta estructura se caracteriza con el principio de Li-Fo, el cual 
            significa Last in, First Out, representando que el ultimo elemento añadido es el primero al que se puede acceder en la pila.
        </p>
        <h2>Operaciones permitidas</h2><br>
        <li>Añadir a la pila</li>
        <li>Eliminar el ultimo elemento añadido</li>
        <li>Ordenar</li>
        <li>Buscar</li>
        <h2>Ventajas y desventajas</h2><br>

        

        <h1>Colas </h1><br><br>
        <h2>Concepto </h2><br>
        <p>
            Las colas, asi como las pilas son una estructura de datos no fundamental que requiere la utilizacion de una lista o un arreglo 
            ser implementada. A diferencia de las pilas, las colas se rigen bajo el principio de Fi-Fo, refiriendose a First in, First out, refiriendose
            a que el primer elemento que sea introducido, sera el primero al que se puede acceder externamente.<br>
            Otra variante de estas son las colas con prioridad, las cuales manejan un nivel de prioridad para los elementos que son introducidos 
            a la misma, donde los elementos que tengan la mayor prioridad, se posicionaran al inicio de la cola. Si hay elementos 
            con el mismo nivel de prioridad, cumpliran con el Fi-Fo, ordenandose por orden de insercion. 
        </p>
        <h2>Operaciones permitidas</h2><br>
        <p></p>
        <h2>Ventajas y desventajas</h2><br>
        <p></p><br><br>

        <h1>Arboles binarios </h1><br><br>
        <p></p>
        <h2>Introduccion </h2><br>
        <p></p>
        <h2>Concepto </h2><br>
        <p></p>
        <h2>Operaciones permitidas</h2><br>
        <p></p>
        <h2>Ventajas y desventajas</h2><br>
        <p></p><br><br>

        <h1>Arboles n-arios </h1><br><br>
        <p></p>
        <h2>Introduccion </h2><br>
        <p></p>
        <h2>Concepto </h2><br>
        <p></p>
        <h2>Operaciones permitidas</h2><br>
        <p></p>
        <h2>Ventajas y desventajas</h2><br>
        <p></p><br><br>

        <h1>Tablas de hash </h1><br><br>
        <p></p>
        <h2>Introduccion </h2><br>
        <p></p>
        <h2>Concepto </h2><br>
        <p></p>
        <h2>Operaciones permitidas</h2><br>
        <p></p>
        <h2>Ventajas y desventajas</h2><br>
        <p></p><br><br>

        <h1>Grafos </h1><br><br>
        <p></p>
        <h2>Introduccion </h2><br>
        <p></p>
        <h2>Concepto </h2><br>
        <p></p>
        <h2>Operaciones permitidas</h2><br>
        <p></p>
        <h2>Ventajas y desventajas</h2><br>
        <p></p><br><br>
    </div>


  </div>
</div>



<div class="w3-container w3-black w3-center w3-opacity w3-padding-32">
    <h1 class="w3-margin w3-xlarge">Si quieres cambiar el mundo, cámbiate a ti mismo</h1>
    <h1 class="w3-margin w3-large">-Gandhi</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
 <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>